.label {
    color:black;
    font-size: 16px;
    padding:0;
   
   
}
.kloba {
    padding-left: 15px;
    font-size: 20px;
    
}
.gumb {
    font-size: 15px;
    margin-top: 20px;
    top:50%;
   
}
.naslovcek {
 
    text-align: center;
}
.vsebina {
    padding-top: 30px;
    padding-left:27%;
    padding-right: 27%;
   
}
.spustni-seznam {
    
}
.okvir {
    padding:20px;
    padding-right: 12%;
    padding-left: 12%;
}

#kreirajSporocilo {

}

.container {
   
}

#generiranje {
    padding-top:15px;
    color: #9d9d9d;
    background-color: transparent;
     border: none;
    
}


#generiranje:hover {
    color:white;
}

#rezultatMeritveVitalnihZnakov {
    padding:20px;
     margin-right: 12%;
    margin-left: 12%; 
}

#bmi  {
    font-size:22px;
    text-align: center;
    margin-right: 12%;
    margin-left: 12%; 
}

.wrapper {
     display: flex;
  justify-content: center;
}
#wrapper2 {
     display: flex;
  justify-content: center;
}
